/* .page{
    display: grid;
    place-items: center;
    min-height: 100dvh;
} */
.grid{
    position: relative;
    display: grid;
    min-height: 100vh;
    background-color: var(--clr-bg);
    --margin-inline :1.5rem;
    --margin-block :1.5rem;
    --grid-columns:var(--grid-columns-mobile);
    --grid-rows:var(--grid-rows-mobile);
    grid-template-columns: var(--margin-inline)
                           repeat(var(--grid-columns),1fr) 
                           var(--margin-inline);

    grid-template-rows: var(--margin-inline)
                        repeat(var(--grid-rows),1fr) 
                        var(--margin-inline);
    overflow: hidden;
    /* place-items: center; */

}

.grid-image,.android-image,
.kotlin-image,.grid-image-02{
    position: absolute;
    scale: .8;
    /* animation: popIcon 1s cubic-bezier(0.22, 1, 0.36, 1) forwards; */
}
.grid-image{
    left:50%;
    bottom: 10%;
    transform: translate(-50%,-50%) rotate(160deg);
    opacity: .4;
}
.grid-image-02{
    left:10%;
    top: 110%;
    transform: translate(-50%,-50%) rotate(341deg);
    opacity: .6;
}
.kotlin-image{
    bottom:30%;
    left: -10%;
    transform: scale(.3) translate(-50%,-50%) rotate(10deg);

}
.android-image{
    top:80%;
    left: 95%;
    transform:scale(1.2)  translate(-50%,-50%) rotate(-40deg);

}
.creaative-icon{
    grid-column: -2;
    grid-row:1 ;
    scale: .8;
    margin-top: 1rem;
    /* align-self: ; */
}

.main{
    grid-column: 2/-2;
    grid-row:2/-2 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem ;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slogen{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
  animation: slideUpFade .8s cubic-bezier(0,.48,0,1.01) forwards;
    animation-delay: .2s;
}
.intro h1, h2{
    --dynamic-size:var(--font-vw-700);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: clamp(
            var(--font-size-3xl)
            ,var(--dynamic-size),
            var(--font-size-9xl));
    color: var(--clr-text-brand);
    line-height: var( --text-masive-leading);        
        }
.intro h1 span:first-child {
    color: var(--clr-text-primary);

    padding: clamp(.25rem,1vw,.5rem);
    padding-inline: clamp(1rem,2vw,2rem);
    /* padding: .25rem; */
    /* padding-inline: 2rem; */
    /* padding-top: 1rem; */
    border: 3px solid var(--clr-border-primary);
    margin:.5rem;
    margin-inline:1rem;
    /* background-color: rebeccapurple;    */
    text-box-trim: trim-both;
    text-box-edge: cap text;
    position: relative;
}
.intro h1 span:first-child div{

    --rect-size:1.25rem;
    position: absolute;
    width: var(--rect-size);
    height: var(--rect-size);
    background-color: var(--clr-fill-primary);
    transform:translate(-50%,-50%) ;
}
.rect-01{
    top: 0;
    left:0;
}
.rect-02{
    top: 0;
    left: 100%;
}
.rect-03{
    top: 100%;
    left: 0;
}
.rect-04{
    top: 100%;
    left: 100%;
}
.main p{
    --dynamic-size:var(--font-vw-400);
    display: flex;
    flex-direction:row-reverse;
    font-family: var(--font-zahir);
    font-size: clamp(
            var(--font-size-xs)
            ,var(--dynamic-size),
            var(--font-size-2xl));
    text-align: center;
}

.intro  span{
    display: block;
}
.flex-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    grid-column: 6/-6;
    grid-row:-2/-1 ;
}
.cta{
    margin-top: 2rem;
    font-family: var(--font-zahir);
    --dynamic-size:var(--font-vw-500);
        font-size: clamp(
            var(--font-size-md)
            ,var(--dynamic-size),
            var(--font-size-4xl));
    padding: clamp(.25rem,1vw,.5rem);
    padding-inline: clamp(1rem,5vw,5rem);
    background-color: var(--clr-fill-primary);
    color: var(--clr-text-light);
    border: none;
    /* border-radius: rem; */
    box-shadow: -3px 5px 0 3px var(--clr-fill-primary-hover) ;
  animation: buttonpop .5s cubic-bezier(1,0,.01,1) forwards;
}
.pop {
  animation: pop 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.slideUpFade {
  animation: slideUpFade 1s cubic-bezier(1,.44,.51,1.01) forwards;
}
@media (min-width: 768px) {


}

@media (min-width: 1024px) {
    .grid{
    --grid-columns:var(--grid-columns-desktop);
    --grid-rows:var(--grid-rows-desktop);
    --margin-inline :10rem;
    --margin-block :1.5rem;
    }

}

@media (min-width: 1440px) {

}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    transform: scale(1.08);
  }

  80% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes popIcon {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonpop {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0);
    filter: blur(10);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.slideUpFade {
  animation: slideUpFade 0.6s ease-out forwards;
}