.grid{
    position: relative;
    display: grid;
    min-height: 100dvh;
    --margin-inline :1rem;
    --margin-block :.5rem;
    --grid-columns:var(--grid-columns-mobile);
    --grid-rows:var(--grid-rows-mobile);
    grid-template-columns: var(--margin-inline)
                           repeat(var(--grid-columns),1fr) 
                           var(--margin-inline);

    grid-template-rows: var(--margin-block)
                        repeat(var(--grid-rows),1fr) 
                        var(--margin-block);
    overflow: hidden;
    place-items: center;
    gap: 1rem;


}



.project-overview{
    width: 100%;
    grid-column:2/-2 ;
    grid-row: 2/3;

    .project-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        justify-content: center;
        > *{
            opacity: 0;

            animation: buttonpop 0.2s ease-out forwards ;
            animation-delay: calc(.9s - (sibling-index() * .1s)); 
        } 
    }

    .project-title{
    --dynamic-size:var(--font-vw-800);
    font-size: clamp(
            var(--font-size-lg)
            ,var(--dynamic-size),
            var(--font-size-7xl));
    color: var(--clr-text-brand);
    line-height: var( --text-masive-leading); 
    text-align: right;
    }

    .project-text{
    --dynamic-size:var(--font-vw-300);
    font-family: var(--font-zahir);
    font-size: clamp(
            var(--font-size-xs)
            ,var(--dynamic-size),
            var(--font-size-3xl));
    text-align: right;
    width: 70%;
    }   

}



.project-graphics{
    display: flex;
    grid-column:2/-2 ;
    grid-row: 3/-3;
    width: 100%;
    height: 100%;   


    .graphics-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        position: relative;

        > *{
            animation-delay: calc(.9s - (sibling-index() * .1s)); 
        } 
        }
    .graphics-container >div:nth-child(3){
            grid-column: 1/-1;
        }

    .dev-image{
        width: 90%;
        top: 100%;
        left: 20%;
        transform: translateY(-80%);
    }   
    .build-image{
        width: 120%;
        top: 90%;
        right: -30%;
        transform: translateY(-100%) rotate(10deg);
    }   
    .marketing-image{
        /* bottom: 100%; */
        width: 90%;
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    } 

}








@media (min-width: 768px) {
    .grid{
    --margin-inline :2rem;
    --margin-block :5rem;
    --grid-columns:var(--grid-columns-desktop);
    --grid-rows:var(--grid-rows-desktop);
    }
.project-overview{
        grid-column: -2/-7;
        grid-row:2/-2 ;
}
.project-graphics{
    grid-column: 2/8;
    grid-row:2/-2 ;
    .graphics-container{
            .dev-image{
        width: 80%;
        top: 100%;
        left: 10%;
        transform: translateY(-40%);
    }   
    .build-image{
        width: 90%;
        top: 100%;
        right: -10%;
        transform: translateY(-100%);
    }   
    .marketing-image{
        /* bottom: 100%; */
        width: 60%;
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    } 
    }
}
}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {
    .grid{
    --margin-inline :10rem;
    --margin-block :10rem;
    }
}